<div class="row menu">
  <h2>{{ i18n "continue" }}</h2>
  {{ range .Site.Menus.footer }}
  <div class="col-sm-4 text-center {{ .Identifier }}">
    <p><a href="{{ .URL | absLangURL }}">
      <img class="img-responsive" alt="" title="{{ .Name }}" data-toggle="tooltip" data-placement="top" src="/menu-{{ .Identifier }}.png" />
    </a></p>
    <p><a href="{{ .URL | absLangURL }}" class="btn btn-lg btn-default">
      {{ .Name }}
    </a></p>
  </div>
  {{ end }}
</div>

<div class="row soutenir">
  <div class="col-sm-6">
    <h2>{{ i18n "contactH" }}</h2>
    <p>
      {{ i18n "contactP1" }}<br><br>
    </p>
    <p>
      {{ i18n "contactP2" }}
    </p>
    <p class="clearfix">
      <a href="https://contact.framasoft.org" class="btn btn-default col-sm-6 col-sm-offset-3 col-xs-12">
        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>&nbsp;
        {{ i18n "contactBtn" }}
      </a>
    </p>
  </div>
  <div class="col-sm-6">
    <h2>{{ i18n "soutenirH" }}</h2>
    <p>
      {{ i18n "soutenirP1" }}
    </p>
    <p>
      {{ i18n "soutenirP2" }}
    </p>
    <p class="clearfix">
      <a class="btn btn-soutenir col-sm-6 col-sm-offset-3 col-xs-12" href="https://soutenir.framasoft.org">
        <i class="fa fa-w fa-heart" aria-hidden="true"></i>
        {{ i18n "soutenirBtn" }}
      </a>
    </p>
  </div>
</div>