
<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           {{ partial "bloc/footer/nav" . }}
        </div>
    </div>
  </div>
</footer>
