<!DOCTYPE html>
{{ "<!--[if lt IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8 lt-ie7"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }} <html class="no-js lt-ie9"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }} <html class="no-js"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<!--<![endif]-->" | safeHTML }}
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ partial "base/metas" . }}
  {{ partial "base/imports" . }}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }} {{ if .Params.id}}id="{{ .Params.id }}" {{ end }}data-ng-app="myapp" data-ng-controller="MyController" data-ng-mouseleave="MouseLeave($event)">
    <script src="https://framasoft.org/nav/nav.js" type="text/javascript"></script>
    {{ partial "base/header" . }}
