  <div class="container ombre">
    {{ if .Site.Params.showBlogHeader }}
      <div class="row">
        <header>
          {{ partial "bloc/content/h1-title" . }}
          {{ partial "bloc/content/lastupdate" . }}
        </header>
      </div>
    {{ end }}
    <div class="row">
      <div class="col-sm-{{ if .Site.Params.showRightSidebar }}9{{ else }}12{{ end }}">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
        {{ partial "bloc/content/pagination" . }}
      </div>
      {{ if .Site.Params.showRightSidebar }}
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          {{ partial "bloc/content/sidebar" . }}
        </div>
      {{ end }}
    </div>

  </div>
